div{
	width: 70%;
	margin: auto;
	padding: 15px;
	background-color: #dede0b;
	text-align: justify;
}
p{
	color: #22c716;
	font-family: "Roboto";
	font-size: 25pt;
}
img{
	width: 100%;
	display: block;
}
a{
	font-size: 30pt;
	color: red;
	text-decoration: none;
}
h1{
	font-size: 35pt;
}
#android{
	position: fixed;
	width: 100px;
	height: 100px;
	background-color: white;
	background-image: url("img/up.png");
	background-size: cover;
	background-position: center;
	margin-top: 76vh;
}