div{
	width: 60%;
	margin: auto;
	padding: 15px;
	background-color: #ffff08;
	text-align: justify;
}
p{
	font-family: "Roboto";
	font-size: 30pt;
	color: #000eab;
}
a{
	font-size: 25pt;
	text-decoration: none;
	color: #112bad;
}
h1{
	font-size: 35pt;
}
img{
	width: 100%;
	height: 700px;
}
#main{
	position: fixed;
	width: 100px;
	height: 100px;
	background-color: white;
	background-image: url("img/up.png");
	background-size: cover;
	background-position: center;
	margin-top: 76vh;
}