p{
	font-family: sans-serif;
	font-size: 20pt;
	color: white;
}
div{
	width: 75%;
	margin: auto;
	padding: 15px;
	background-color: #2b3e82;
	text-align: justify;
}
img{
	width: 100%;
	display: block;
}
a{
	font-size: 30pt;
	color: green;
	text-decoration: none;
	margin-left: 185px;
}
h1{
	font-size: 35pt;
}
#web{
	position: fixed;
	width: 100px;
	height: 100px;
	background-color: white;
	background-image: url("img/up.png");
	background-size: cover;
	background-position: center;
	margin-top: 76vh;
}